@font-face {
  font-family: 'SofiaPro';
  src: url('/static/assets/fonts/Sofia Pro Regular.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SofiaPro';
  src: url('/static/assets/fonts/Sofia Pro Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SofiaPro';
  src: url('/static/assets/fonts/Sofia Pro Bold.otf') format('opentype');
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SofiaPro', 'TTNorms', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #70bf8e;
  transition: all 0.2s ease-in;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  opacity: 1;
}

/* =================================================================================================================== */
/* Scrollbar */
/* =================================================================================================================== */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c6c9cb;
}

/* =================================================================================================================== */
/* Video Controls */
/* =================================================================================================================== */

video::-webkit-media-controls-enclosure {
  display: none;
}

/* =================================================================================================================== */
/* Input Slider */
/* =================================================================================================================== */

input[type='range'] {
  -webkit-appearance: none;
  width: 80px;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 80px;
  height: 2px;
  cursor: pointer;
  background: fff;
  border-radius: 10px;
}
input[type='range']::-webkit-slider-thumb {
  height: 9px;
  width: 9px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #a0a5a9;
  border-radius: 10px;
}
input[type='range']::-moz-range-track {
  width: 80px;
  height: 5px;
  cursor: pointer;
  background: #a0a5a9;
  border-radius: 10px;
}
input[type='range']::-moz-range-thumb {
  height: 9px;
  width: 9px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 80px;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: fff;
  border-radius: 2.6px;
}
input[type='range']::-ms-fill-upper {
  background: fff;
  border-radius: 2.6px;
}
input[type='range']::-ms-thumb {
  height: 9px;
  width: 9px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: fff;
}
input[type='range']:focus::-ms-fill-upper {
  background: fff;
}
