@font-face {
  font-family: 'SofiaPro';
  src: url('/static/assets/fonts/Sofia Pro Regular.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SofiaPro';
  src: url('/static/assets/fonts/Sofia Pro Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SofiaPro';
  src: url('/static/assets/fonts/Sofia Pro Bold.otf') format('opentype');
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SofiaPro', 'TTNorms', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #70bf8e;
  transition: all 0.2s ease-in;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  opacity: 1;
}
